################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AptechSem3FinalProject/.vs
AptechSem3FinalProject/Model/bin
AptechSem3FinalProject/Model/obj
AptechSem3FinalProject/Web/bin
AptechSem3FinalProject/Web/obj
AptechSem3FinalProject/Context/bin
AptechSem3FinalProject/Context/obj
*.cache
*.force
AptechSem3FinalProject/Context/obj/Debug/Context.csprojAssemblyReference.cache
