@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<section class="banner-area relative about-banner pt-150" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h2 class="text-white">
                    @ViewBag.Title
                </h2>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</section>

