.blog-home-banner {
    background: url(../../img/blog/blog-home-banner.jpg) bottom;
    background-size: cover;
    padding: 130px 0px;
}
.blog-home-banner .primary-btn {
    border-radius: 0px;
    background: #fff;
    color: #222;
    font-weight: 600;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.blog-home-banner .primary-btn:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.blog-home-banner .overlay-bg {
    background: rgba(0, 0, 0, 0.5);
}
.blog-page {
    background: #f9f9ff;
}
.blog-header-content h1 {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 414px) {
    .blog-header-content h1 {
        font-size: 30px;
    }
}
.blog-header-content p {
    margin: 20px 0px;
}

.video-right {
    background: url(../../img/video-bg.jpg) no-repeat center;
    background-size: cover;
    height: 330px;
}