@model Web.Areas.Instructors.Models.LessonItemViewModel
<tr>
    <td><a href="@Url.Action("CoursePlay","Course", new {id=Model.CourseId, area="", video=Model.Id})" >@Model.Title</a></td>
    <td>
        @if (Model.IsPreview)
        {
            <input type="checkbox" name="r3" class="flat-red">
        }
        else
        {
            <input type="checkbox" name="r3" class="flat-red">
        }

    </td>
    <td>
        <input type="checkbox" name="r3" class="flat-red" checked="">
    </td>
</tr>