.create-course-navigation{
    position:fixed;
    right:0px;
    bottom:0px;
    /*width:100%;*/
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.info-box-number {
    display: block;
     font-weight:unset; 
    font-size: 18px ;
}

.video-preview{
    padding-top:15px;
}

.box-header>.box-tools-left {
    position: absolute;
    top: 5px;
}
.widget-user .widget-user-header .course-img{
    height: 155px;                         
}
.widget-user .widget-user-header {
    padding-top: 0px;
}