<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="DefaultTempPath" value="D:/OnlineLearning/FullHD" />
    <add key="DefaultFullHD" value="D:/OnlineLearning/HD/" />
    <add key="DefaultFullHD" value="D:/OnlineLearning/HQ/" />
    <add key="DefaultHQPath" value="D:/OnlineLearning/Temp/" />
    <add key="FFmpegPath" value="D:/OnlineLearning/ffmpeg.exe" />
  </appSettings>
</configuration>