
 <div class="modal fade" id="myModaledit" role="dialog" aria-labelledby="myModalLabeledit" aria-hidden="true">
     <div class="modal-dialog ">
         <form enctype="multipart/form-data" method="post">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title" id="myModalLabeledit">Update</h4>
                 </div>
                 <div class="modal-body">


                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal" style="padding: 6px 12px;">Cancel</button>
                     <button type="submit" class="btn btn-primary btnEdit" style="padding: 6px 12px;">Save</button>
                 </div>
             </div>
         </form>
     </div>
 </div>