
@using Context.Database
@model IEnumerable<Context.Database.Category>
@{
    var listCategory = Model.ToList() as List<Category>;
    Layout= "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var title = "Manage All";
}
@section Scripts
{
    @Scripts.Render("~/Scripts/Admin/Category.js")
}
<section class="content-header">
    <h1>
        @title
    </h1>

</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="tree top">
                @Html.Partial("_partial_Search_CategoryTreeList", listCategory)

            </div>
        </div>
    </div>
</section>

